body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #c8102e; /* Vermelho */
    padding: 20px;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #fff;
    color: #c8102e;
}

.container {
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images img {
    width: 30%;
    margin: 10px;
}

footer {
    background-color: #c8102e;
    padding: 10px;
    text-align: center;
}
